@model List<Categoria>

<div class="card m-3">
    <div class="card-body text-center">
        <h5 class="card-title">Administracion de Categorias</h5>
        <p class="card-text">Administra las Categorias del Sistema agregando, actualizando o eliminado.</p>
        <a asp-controller="Categoria" asp-action="CategoriaCreate"
            class="btn btn-outline-primary"><i class="fa-solid fa-circle-plus"></i>
            Crear Nueva Categoria
        </a>
    </div>
</div>

<div class="m-3">
    <table class="table table-sm text-center">
        <thead>
            <tr>
                <th>Categoria Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in Model)
            {
                <tr>
                    <td>@categoria.CategoriaId</td>
                    <td>@categoria.Nombre</td>
                    <td>@categoria.Descripcion</td>
                    <td>
                        <a asp-controller="Categoria" asp-action="CategoriaEdit" asp-route-Id="@categoria.CategoriaId"
                            ><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-controller="Categoria" asp-action="EliminarCategoria"
                            asp-route-Id="@categoria.CategoriaId"
                            onclick="return confirm('Estas Seguro?')"
                        ><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>